<div class="text-center jumbotron">
  <h1>My Med List</h1>
  <h3>Sign up for an easy way to keep track of youe medications!</h3>
  <br/>
  <br/>
  <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %>
</div>
